In [10]:
import pandas as pd
from pandas import json_normalize
import numpy as np
import json

In [11]:
load_df = pd.read_json('all_stores.json')

places_df = []
for i in range(len(load_df['places'])):
    load_df['places'][i] = json_normalize(load_df['places'][i])
    places_df.append(load_df['places'][i])

places_df = pd.concat(places_df, ignore_index=True)
places_df = places_df.drop_duplicates(subset=['_id'])
places_df = places_df.reset_index(drop=True)
places_df

,_id,name,categories,location.type,location.coordinates,chain.slug,chain.name,chain.domain
0,6492272ea5cf7208986fd4a1,Unifirst Corporation,"[shopping-retail, apparel, clothing-store]",Point,"[-85.54013, 38.200959]",NaN,NaN,NaN
1,64d2c0cc1a6e65029aa05eb1,1213 Apparel,"[shopping-retail, apparel, clothing-store]",Point,"[-85.535805, 38.20584]",NaN,NaN,NaN
2,646e78e4257d5b67299e0169,Generation Tux,"[shopping-retail, apparel, clothing-store]",Point,"[-85.55429010934739, 38.199565387667185]",NaN,NaN,NaN
3,612510d85418e17cc9245add,Milk and Baby,"[shopping-retail, apparel, clothing-store]",Point,"[-85.554694259683, 38.20549894652019]",NaN,NaN,NaN
4,6492271b7e3ba4281d07d135,Ocean Soul,"[shopping-retail, apparel, accessories-store, ...",Point,"[-85.550278, 38.217419]",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2214,62cd931798b993111c81c6ad,Small Town Sports,"[shopping-retail, sporting-goods-store]",Point,"[-85.548869, 38.05258]",NaN,NaN,NaN
2215,5dc9a0f42004860034baa294,Goodwill,"[shopping-retail, thrift-or-consignment-store]",Point,"[-85.53936955313168, 38.05410023381892]",goodwill,Goodwill,goodwill.org
2216,5f668148618655405b9cf83f,Cindy's Consignments,"[shopping-retail, thrift-or-consignment-store]",Point,"[-85.54878303804244, 38.05653298911513]",NaN,NaN,NaN
2217,649227400db46f4659fc341e,Dis & Dat Thrift Shop,"[shopping-retail, thrift-or-consignment-store]",Point,"[-85.54934888093514, 38.04372817217552]",NaN,NaN,NaN
2218,64d2c09b2bf3f14198ce356a,Mw23 Llc,"[shopping-retail, tobacco-store]",Point,"[-85.54003730411537, 38.049058295641096]",NaN,NaN,NaN

In [13]:
load_df = pd.read_json('all_restaurants.json')

restaurants_df = []
for i in range(len(load_df['places'])):
    load_df['places'][i] = json_normalize(load_df['places'][i])
    restaurants_df.append(load_df['places'][i])

restaurants_df = pd.concat(restaurants_df, ignore_index=True)
restaurants_df = restaurants_df.drop_duplicates(subset=['_id'])
restaurants_df = restaurants_df.reset_index(drop=True)
restaurants_df

,_id,name,categories,location.type,location.coordinates,chain.slug,chain.name,chain.domain
0,62cd933998b993111c8cf626,Perfection Bakeries,"[food-beverage, bakery]",Point,"[-85.5480332302941, 38.20121723606867]",NaN,NaN,NaN
1,5f665b40618655405b4b7c99,Bryant's Cake and Candy Supplies,"[food-beverage, bakery]",Point,"[-85.56699895118903, 38.18867938272964]",NaN,NaN,NaN
2,5f66a249618655405bd9f66d,The Sugar Mamas Bakeshop,"[food-beverage, bakery]",Point,"[-85.537564, 38.246221]",NaN,NaN,NaN
3,6398990b779ea4234698ace9,Rogue Petunia,"[food-beverage, bakery]",Point,"[-85.56684599696736, 38.218405924496665]",NaN,NaN,NaN
4,64922719a5cf7208986d6c4f,Blu Bakery,"[food-beverage, bakery]",Point,"[-85.54002286681155, 38.245461572450026]",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2161,5f6653db618655405b36620f,Aspen Creek Grill,"[food-beverage, restaurant]",Point,"[-85.57899313409168, 38.13091363118585]",NaN,NaN,NaN
2162,64d2c0b58b3af57acbd4a40f,Crumbl Cookies,"[food-beverage, restaurant]",Point,"[-85.58023, 38.134657]",crumbl-cookies,Crumbl Cookies,crumblcookies.com
2163,6407ebde1c9575435eb18861,Heine Brothers,"[food-beverage, restaurant]",Point,"[-85.57995014442723, 38.13592763907194]",NaN,NaN,NaN
2164,5f667f08618655405b98cc5a,Sake Blue Japanese Bistro,"[food-beverage, restaurant]",Point,"[-85.58798742690082, 38.145235661784824]",NaN,NaN,NaN
2165,610b19f2ef48a87fb958208d,Subway,"[food-beverage, sandwich-shop]",Point,"[-85.535664, 38.05192]",subway,Subway,subway.com